#login-dp{
    min-width: 260px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(200,200,200,.2);
}


#login-dp .bottom{
    background-color:rgba(100,100,100,.2);
    border-top:1px solid #333;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .form-group {
    margin-bottom: 10px;
}

