/*body{
  height: auto;
}
*/
.row.profil {
  height: initial;
}
.container .profil-titre h1 {
  display: inline-block;
  color : #292F36;
}

/****************************************************************************************/
/*style des boutons ajout ami*/


/*Style des boutons au survol*/
.btn-demande-envoyee.btn-ami.btn-demande-reçuee {
  cursor:default;
  color:#000;
  text-decoration:none;
}
.hoverable .hover {
  display:none;
}
.hoverable:hover .normal {
  display:none;
}
.hoverable:hover .hover {
  display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
}



/****************************************************************************************/
/*Affichage thumbnails ami*/

img.media-object {

}


/****************************************************************************************/
/*style de la page profil*/

/* Profile container */
.profile {
  margin: 20px 0;

}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #eee;
  border-radius: 8px;
  margin-bottom: 20px;


  background-color: #FAFAFA;

}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-userinfo {
  text-align: center;
  margin-top: 20px;
}

.profile-userinfo-username {
  color: #6fb4a8;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userinfo-info {
  text-transform: uppercase;
  color: #616161;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;

  width : 100%;

}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  color: #6fb4ad;
  background-color: #f6f9fb;
  border-left: 2px solid #47d9bf;
  margin-left: -2px;
}

/*.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
*/



/* Profile Content */
.profile-content {
  overflow: auto; /* clearfix */

  border-radius: 8px;

  padding: 20px;
  min-height: inherit ;

  margin-bottom: 20px;


  background-color: #FAFAFA;
  color: #292F36;
}

.profile-content h2 {
  color: #6fb4a8;
}

/****************************************************************************************/


/*AFFICHAGE DES JEUX*/
.list-group-horizontal .list-group-item {
    display: inline-block;
}