@import 'https://fonts.googleapis.com/css?family=Roboto';

/*NAV BAR*/


/*Module de connexion*/



/* BODY */
body{
  font-family: 'Roboto', sans-serif;
  color: white;


  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding:0;
  background-color:#333333;
  min-height: 100vh;

}

/*BLOC DE TEXTE 1*/












footer {
  text-align: center;
    min-height: 30px;
    width: 100%;
    padding-top: 50px;
}